In [2]:
even = [0,2,4,6,8,10,12,14,16,18,20]
for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [4]:
# if we want them in 1 line and spaces in between
for n in even:
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [6]:
#example
digits = [0,1,2,3,4,5,6,7,8,9]
for n in digits:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [8]:
digits = [0,1,2,3,4,5,6,7,8,9]

for d in digits:
    print (d, end = " ")

0 1 2 3 4 5 6 7 8 9

In [10]:
#While Loops and incrementing
x = 0
while x <= 20:
    print(x, end = " ") #don't leave the code here while us
    x = x+2 #this is called incrementing

0 2 4 6 8 10 12 14 16 18 20

In [12]:
##or the above can be written like the below, the python syntax to show that we are incrementing:
x = 0
while x <= 20:
    print(x, end = " ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

In [27]:
#Create a while loop that will print all odd numbers from 0 to 30 on the same row.
# Initialize the starting number
odd_num = 1

# Start the while loop
while odd_num <= 30:
    # Check if the number is odd
    if odd_num % 2 != 0:
        print(odd_num, end=" ")  # Print the number on the same row
    # Increment the number by 1
    odd_num += 1
#The % symbol is the modulus operator (also called the remainder operator). It calculates the remainder after division.
#num % 2 != 0 - The remainder when odd_num is divided by 2 is not equal to 0.

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [29]:
#Create lists with a range() function
range(10)

range(0, 10)

In [31]:
#use list(range(10)) to display the sequence as a list
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
range(3,7) # = range(3,7,1)

range(3, 7)

In [35]:
list(range(3,7))

[3, 4, 5, 6]

In [37]:
range(1,20,2)

range(1, 20, 2)

In [39]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [41]:
#Use the range() function to create a list with all numbers from 1 to 10.
range(1,11)

range(1, 11)

In [45]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
#Use the range() function to create a list with all numbers from 0 to 19

list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [51]:
#Use the range() function to create a list with all even numbers from 0 to 30 included.
list(range(0,31,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [55]:
#Conditional statements and Loops

for n in range(10):
    print(2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [62]:
for x in range(20):
    if x % 2 == 0:
        print(x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [66]:
#another way to program a loop
x = [0,1,2]
for item in x:
    print(item, end = " ")

0 1 2

In [72]:
##or we do this below: this is complicated for advanced coding
for item in range(len(x)):
    print(x[item], end = " ")

0 1 2

In [88]:
#Create a For loop that will print all the variables from 
#a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.
# Create a list of numbers from 1 to 10 using range()
numbers = range(1, 11)

# Iterate through the list
for num in numbers:
    print(num * 2)  # Multiply each number by 2 and print it

2
4
6
8
10
12
14
16
18
20

In [90]:
#Create a little program that runs a loop over all values from 1 to 30. Let it print all odd numbers, and in the place of the even numbers, 
#it should print "Even". Help yourself with the range() function to solve this exercise.

n_odd = range(1,31)

for n in n_odd:
    if n % 2 != 0:
        print(n, end = " ")
    else:
        print("Even", end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

In [92]:
#You are given the following list of numbers. 
#Iterate over this list, printing each value multiplied by 10 on the same line. Provide two solutions to this problem.
#n = [1,2,3,4,5,6]
n = [1,2,3,4,5,6]

for x in n:
    print(x * 10, end = " ")

10 20 30 40 50 60

In [94]:
for item in range(len(n)):
    print(n[item] * 10, end = " ")

10 20 30 40 50 60

In [100]:
#How can we count the number of items whose value is less than 20 in a list

def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

list_1 = [1,3,7,15,23,43,56,98,17]
count(list_1)

5

In [104]:
#You are provided with the nums list. 
#Define a function called count() containing a while loop to count the number of values in the nums list that are lower than 20.

# Provided nums list
nums = [1, 35, 12, 24, 31, 51, 70, 100]

# Define the count function
def count():
    i = 0  # Initialize index
    count_below_20 = 0  # Initialize the counter
    
    while i < len(nums):  # Loop through the list
        if nums[i] < 20:  # Check if the current value is less than 20
            count_below_20 += 1  # Increment the counter
        i += 1  # Move to the next index
    
    return count_below_20  # Return the count

# Call the function and print the result
result = count()
print(f"Number of values lower than 20: {result}")

Number of values lower than 20: 2

In [106]:
#Iterating dictionaries/ Looping dictionaries
prices = {
    "box_of_spaghetti" :4,
    "lasagna" : 5,
    "hamburger" : 2
}
quantity = {
    "box_of_spaghetti" :6,
    "lasagna" : 10,
    "hamburger" : 0
}
# How much did Jan spend in the supermarket??
money_spent = 0
for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
print(money_spent)

74